# Data Analysis with respect to Year
#### Name: Prateek Chitpur

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('casestudy.csv')
df.head()

   Unnamed: 0         customer_email  net_revenue  year
0           0   nhknapwsbx@gmail.com       249.92  2015
1           1   joiuzbvcpn@gmail.com        87.61  2015
2           2   ukkjctepxt@gmail.com       168.38  2015
3           3   gykatilzrt@gmail.com        62.40  2015
4           4   mmsgsrtxah@gmail.com        43.08  2015

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685927 entries, 0 to 685926
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      685927 non-null  int64
 1   customer_email  685927 non-null  object
 2   net_revenue     685927 non-null  float64
 3   year            685927 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 20.9+ MB

In [4]:
df.isna().sum()

Unnamed: 0        0
customer_email    0
net_revenue       0
year              0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
total_revenue = df.groupby('year')['net_revenue'].sum()
total_revenue

year
2015    29036749.19
2016    25730943.59
2017    31417495.03
Name: net_revenue, dtype: float64

The new dataframes are created as per the requirement for the visualization purpose.

In [50]:
df_2015 = df[df['year']==2015]
df_2015

        Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
231289      231289   xtrpmgjbwp@gmail.com       216.89  2015
231290      231290   peeorxpsbr@gmail.com        39.16  2015
231291      231291   vanasezjpw@gmail.com       233.46  2015
231292      231292   dnpremlztb@gmail.com       136.27  2015
231293      231293   qsgswrpycl@gmail.com        60.24  2015

[231294 rows x 4 columns]

In [51]:
df_2016 = df[df['year']==2016]
df_2016

        Unnamed: 0         customer_email  net_revenue  year
231294      231294   mwrossuukz@gmail.com       197.26  2016
231295      231295   gkwsoupawk@gmail.com        38.28  2016
231296      231296   vlyigtgfzs@gmail.com       154.57  2016
231297      231297   yfirychuhk@gmail.com       102.47  2016
231298      231298   trnzgqinuu@gmail.com        32.03  2016
...            ...                    ...          ...   ...
435935      435935   mezrjfkced@gmail.com       114.17  2016
435936      435936   rdotspqdxi@gmail.com       169.79  2016
435937      435937   fkweqlmmjw@gmail.com        79.71  2016
435938      435938   pidugzoeej@gmail.com       116.80  2016
435939      435939   kxqglfdktu@gmail.com        37.31  2016

[204646 rows x 4 columns]

In [42]:
df_2017 = df[df['year']==2017]
df_2017

        Unnamed: 0         customer_email  net_revenue  year
435940      435940   mwrossuukz@gmail.com        96.61  2017
435941      435941  qvjfterwnk@gmail.com        176.00  2017
435942      435942   vlyigtgfzs@gmail.com        73.47  2017
435943      435943   yfirychuhk@gmail.com       138.17  2017
435944      435944   fdkiioqtli@gmail.com       156.87  2017
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[249987 rows x 4 columns]

In [43]:
df_2016_new_customer = df_2016.merge(df_2015, how='left',on='customer_email')
df_2016_new_customer = df_2016_new_customer[df_2016_new_customer['year_y'] != 2015]

New Customer

In [30]:
new_customers = pd.concat([df_2015, df_2016_new_customer, df_2017_new_customer])
new_customers['year_x'].fillna(2015,inplace = True)
new_customers['net_revenue_x'].fillna(df['net_revenue'],inplace = True)

In [31]:
df_2017_new_customer = df_2017.merge(df_2016, how='left',on='customer_email')
df_2017_new_customer = df_2017_new_customer[df_2017_new_customer['year_y'] != 2016]

In [32]:
df_2016_exist_customer = df_2016.merge(df_2015, how='left',on='customer_email')
df_2016_exist_customer = df_2016_exist_customer[df_2016_exist_customer['year_y'] == 2015]

df_2017_exist_customer = df_2017.merge(df_2016, how='left',on='customer_email')
df_2017_exist_customer = df_2017_exist_customer[df_2017_exist_customer['year_y'] == 2016]

Existing Customer

In [33]:
existing_customers = pd.concat([df_2015, df_2016_exist_customer, df_2017_exist_customer])

In [ ]:
df_2016_lost_customer = df_2016.merge(df_2015, how='right',on='customer_email')
df_2016_lost_customer = df_2016_lost_customer[df_2016_lost_customer['year_y'] != 2016]

In [59]:
df_2017_lost_customer = df_2017.merge(df_2016, how='right',on='customer_email')
df_2017_lost_customer = df_2017_lost_customer[df_2017_lost_customer['year_y'] != 2017]

Lost Customer

In [61]:
lost_customer = pd.concat([df_2016_lost_customer, df_2017_lost_customer])
lost_customer

,Unnamed: 0_x,customer_email,net_revenue_x,year_x,Unnamed: 0_y,net_revenue_y,year_y
0,NaN,nhknapwsbx@gmail.com,NaN,NaN,0,249.92,2015
1,NaN,joiuzbvcpn@gmail.com,NaN,NaN,1,87.61,2015
2,NaN,ukkjctepxt@gmail.com,NaN,NaN,2,168.38,2015
3,NaN,gykatilzrt@gmail.com,NaN,NaN,3,62.40,2015
4,NaN,mmsgsrtxah@gmail.com,NaN,NaN,4,43.08,2015
...,...,...,...,...,...,...,...
204641,NaN,mezrjfkced@gmail.com,NaN,NaN,435935,114.17,2016
204642,NaN,rdotspqdxi@gmail.com,NaN,NaN,435936,169.79,2016
204643,640583.0,fkweqlmmjw@gmail.com,21.78,2017.0,435937,79.71,2016
204644,NaN,pidugzoeej@gmail.com,NaN,NaN,435938,116.80,2016
204645,NaN,kxqglfdktu@gmail.com,NaN,NaN,435939,37.31,2016

In [37]:
existing_customers['year_x'].fillna(2015,inplace = True)
existing_customers['net_revenue_x'].fillna(df['net_revenue'],inplace = True)

All the dataframes are written to different csv files.

In [23]:
new_customers.to_csv('new_customers.csv')

In [28]:
existing_customers.to_csv('existing_customers.csv')

In [62]:
lost_customer.to_csv('lost_customer.csv')